/* Background */

h1{
    background-image: url('../resources/images/favicon.png');
    background-repeat:no-repeat;
    background-position: 0 0;
    padding-left: 20px;
    background-size: 30px;
}

div{
    background: url('../resources/images/FB.jpg') no-repeat;
    height: 300px;
    width: auto;
    border:1px solid red;
}